<!DOCTYPE HTML>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="header">
        <a class="navbar-brand" href="/">Start</a>
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="gewicht">Gewicht</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="eten">Eten</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="gerechten">Gerechten</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>