.tableFixHead          { overflow-y: auto; height: 85vh; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse;}
th, td { padding: 8px 16px; background: white;}
th     { background:#eee; }

#myUL {
	/* Remove default list styling */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#myUL li .gerechtHeader {	
	margin-top: -1px; /* Prevent double borders */
	background-color: #343a40; /* Grey background color */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-size: 18px; /* Increase the font-size */
	color: white; /* Add a black text color */
	display: block; /* Make it into a block element to fill the whole list */
}

#TotalRow td {
	font-weight: bold;	
}

#IngredientList{
	background: #eee;
}

#infoContainer {
	width: 95%;
}

.gerrechtenList {
	overflow-y: auto; height: 80vh;
}

.filterButton{
	margin-left: 10px;
	margin-right: 10px;
}

#startTable {
	width: 95% !important;
}

#gerrechtSelector {
	width: 50%;
}

.mealSetList	 {
	overflow-y: scroll; 
	height: 90vh;
}