<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">

	<title>Index</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" />
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
</head>

<body>
	<div th:insert="fragments/header :: header">...</div>
	<div class="container-fluid">
		<div class="row mb-2 mt-2">
			<div class="col-md-2">
				<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#foodModal">
					Voeg toe
				</button>
			</div>
			<div class="col-md-6">
				<input class="form-control w-100" type="text" placeholder="Search"
				aria-label="Search" onkeyup="searchField()" id="searchTerm">
			</div>
		</div>
		<div class="row col-md-12 tableFixHead">
			<table id="foodTable" class="table table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th style="width: 20%">Name</th>
						<th style="width: 8%">Kcal</th>
						<th style="width: 8%">Carbs</th>
						<th style="width: 8%">Proteins</th>
						<th style="width: 8%">Fats</th>
						<th style="width: 10%">Price</th>
						<th style="width: 38%">Beschrijving</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<th:block th:each="food : ${foods}">
				<tr>
					<td id="foodName" class="align-middle" th:text="${food.getName()}"></td>
					<td class="align-middle" th:text="${food.getKcal()}"></td>
					<td class="align-middle" th:text="${food.getCarb()}"></td>
					<td class="align-middle" th:text="${food.getProt()}"></td>
					<td class="align-middle" th:text="${food.getFat()}"></td>
					<td class="align-middle" th:text="${#numbers.formatCurrency(food.getPrice())}">Eten</td>
					<td class="align-middle" th:text="${food.getDisc()}"></td>
					<td class="align-middle">
						<button type="button" class="btn btn-warning" th:data-name="${food.getName()}" th:data-kcal="${food.getKcal()}" th:data-carb="${food.getCarb()}" th:data-prot="${food.getProt()}" th:data-fat="${food.getFat()}" th:data-weight="${food.getWeight()}" th:data-price="${food.getPrice()}" th:data-disc="${food.getDisc()}" th:data-id="${food.getId()}" data-toggle="modal" data-target="#foodModal">Edit</button>
					</td>
					<td class="align-middle">
						<button class="btn btn-danger deleteButton" th:data-id="${food.getId()}" th:data-name="${food.getName()}" data-toggle="modal" data-target="#deleteModal">Delete</button>
					</td>
				</tr>
			</th:block>
		</table>
	</div>
</div>

<!-- Modal HTML Markup -->
<div id="foodModal" class="modal fade">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title">Eten toevoegen</h1>
			</div>
			<div class="modal-body">
				<form method="POST" th:action="@{/foodPost}" th:object="${Eten}" modelAttribute="Eten">
					<div class="container-fluid">
						<div class="form-group" hidden>
							<div>
								<input type="number" class="form-control input-lg" name="id" value="" th:field="*{id}" id="id-field">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<input type="hidden" name="_token" value="">
								<div class="form-group">
									<label class="control-label">Naam</label>
									<div>
										<input type="text" class="form-control input-lg" name="name" value="" th:field="*{name}" id="name-field">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Kcal</label>
									<div>
										<input type="number" step="0.01" class="form-control input-lg" name="kcal" value="" th:field="*{kcal}" id="kcal-field">

									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Carbs</label>
									<div>
										<input type="number" step="0.01" class="form-control input-lg" name="carb" value="" th:field="*{carb}" id="carb-field">
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Proteins</label>
									<div>
										<input type="number" step="0.01" class="form-control input-lg" name="prot" value="" th:field="*{prot}" id="prot-field">
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Fat</label>
									<div>
										<input type="number" step="0.01" class="form-control input-lg" name="fat" value="" th:field="*{fat}" id="fat-field">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Gewicht</label>
							<div class="row">
								<div class="col-md-1">
									<input type="checkbox" class="form-control input-lg" id="weightCheck">
								</div>
								<div class="col-md-11">
									<input type="number" class="form-control input-lg" name="weight" value="" disabled id="weightField" th:field="*{weight}">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Price</label>
							<div>
								<input type="number" step="0.01" class="form-control input-lg" name="price" value="" th:field="*{price}" id="price-field">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Beschrijving</label>
							<div>
								<input type="text" class="form-control input-lg" name="disc" value="" th:field="*{disc}" id="disc-field">
							</div>
						</div>
						<div class="form-group">
							<div>
								<div class="d-flex justify-content-between">
									<button type="submit" class="btn btn-success btn-lg">
										Add
									</button>
									<button data-dismiss="modal" class="btn btn-danger btn-lg">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Verwijderen</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="recipient-name" class="col-form-label">Weet je zeker dat je dit wil verwijderen?</label>
					<input type="text" class="form-control" id="deleteID" hidden>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="DeleteItem">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script th:inline="javascript">
	$(document).ready(function() {

		$('#weightCheck').click(function() {
			$('#weightField').prop('disabled', function(i, v) {
				console.log("Weight check")
				return !v;
			});
		});

        //Deze actie triggerd op het drukken van de Delete Knop
        $("#DeleteItem").click(function(event) {
            event.preventDefault(); //De verwachte actie wordt onderschept en vervangen met een eigen API call
            $("#deleteButton").prop("disabled", true); //Delete knopt wordt disable tot het proces is afgelopen
            var foodID = $("#deleteID").val();

            $.ajax({
            	type: "DELETE",
            	url: "/Eten/" + foodID,
            	success: function(data) {
            		window.location.reload();
            	},
            	error: function(e) {
            		$("#DeleteModalBody").append("<p class='text-danger'>" + e.responseText + "</p>");
            		$("#deleteButton").prop("disabled", false);
            	}
            });
        });

        $('#deleteModal').on('show.bs.modal', function(event) {
        	var button = $(event.relatedTarget);
        	var id = button.data('id');
        	var name = button.data('name');
        	var modal = $(this);
        	modal.find('.modal-body #deleteID').val(id);
        });

        $('#foodModal').on('show.bs.modal', function(event) {
        	var button = $(event.relatedTarget);
        	var id = button.data('id');
        	var name = button.data('name');
        	var kcal = button.data('kcal');
        	var carb = button.data('carb');
        	var prot = button.data('prot');
        	var fat = button.data('fat');
        	var weight = button.data('weight');
        	var price = button.data('price');
        	var disc = button.data('disc');
        	var modal = $(this);
        	modal.find('.modal-body #id-field ').val(id);
        	modal.find('.modal-body #name-field ').val(name);
        	modal.find('.modal-body #kcal-field ').val(kcal);
        	modal.find('.modal-body #carb-field ').val(carb);
        	modal.find('.modal-body #prot-field ').val(prot);
        	modal.find('.modal-body #fat-field ').val(fat);
        	modal.find('.modal-body #weightField ').val(weight);
        	modal.find('.modal-body #price-field ').val(price);
        	modal.find('.modal-body #disc-field ').val(disc);
        });
    });


function searchField() {
  // Declare variables
  var input, filter, table, tr, a, i, txtValue;
  input = document.getElementById('searchTerm');
  filter = input.value.toUpperCase();
  table = document.getElementById("foodTable");
  tr = table.getElementsByTagName('tr');
  // Loop through all list items, and hide those who don't match the search query
  for (i = 1; i < tr.length; i++) {
  	a = tr[i].getElementsByTagName('td')[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
</script>

</html>